<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Beautiful-Footer.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-4---Footer---4-Column.css">
    <link rel="stylesheet" href="assets/css/Corporate-Footer-Clean.css">
    <link rel="stylesheet" href="assets/css/Rowfcards.css">
    <link rel="stylesheet" href="assets/css/untitled-1.css">
    <link rel="stylesheet" href="assets/css/untitled-2.css">
    <link rel="stylesheet" href="assets/css/untitled-3.css">
    <link rel="stylesheet" href="assets/css/untitled-4.css">
    <link rel="stylesheet" href="assets/css/untitled-5.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body id="page-top">
<nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#">TINDER</a><button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="#download">TIẾNG VIỆT</a></li>
                <li class="nav-item nav-link js-scroll-trigger"></li>
            </ul><button class="btn btn-primary" id="btn_login" type="button" style="border-width: 0px;opacity: 1;background: rgb(255,255,255);">ĐĂNG NHẬP</button>
        </div>
    </div>
</nav>
<nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="#">TINDER</a><button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-link js-scroll-trigger"><a class="nav-link js-scroll-trigger" href="#download">TIẾNG VIỆT</a></li>
                <li class="nav-item nav-link js-scroll-trigger"></li>
            </ul><button class="btn btn-primary" id="btn_login" type="button" style="border-width: 0px;opacity: 1;background: rgb(255,255,255);">ĐĂNG NHẬP</button>
        </div>
    </div>
</nav>
{{{body}}}
<section class="text-center content-section" id="about" style="background-color: white;">
    <section>
        <div class="row">
            <div class="col-md-4 d-block item fcard" id="fcard1" style="margin-top: 10px;margin-bottom: 10px;">
                <h5 style="color: rgb(0,0,0);">Courtney &amp; Miranda</h5>
                <p class="text-left" style="color: rgb(0,0,0);"><br>Nhờ có Tinder, tôi đã tìm thấy người yêu của đời mình và chúng tôi sắp kết hôn. <br><br>Sau khi trải qua vài buổi hẹn hò và mấy buối tối vui vẻ, tôi tình cờ gặp được Miranda. Sau khi đọc hồ sơ của cô ấy, tôi đã không thể không vuốt phải chọn cô ấy sau khi đọc câu kết trong đó… 'Đang tìm kiếm nửa còn lại của đời tôi.' Sau khi trò chuyện khoảng một tuần, chúng tôi tiến tới cuộc hẹn gặp đầu tiên và tôi biết ở cô ấy có điều gì đó rất đặc biệt!<br><br></p>
            </div>
            <div class="col-md-4 d-block item fcard" id="fcard1" style="margin-top: 10px;margin-bottom: 10px;">
                <h5 style="color: rgb(0,0,0);">Ryan và Lindsey Walsh<br></h5>
                <p class="text-left" style="color: rgb(0,0,0);">…vừa bước ra từ cuộc tình không mấy vui vẻ và tạo tài khoản Tinder giúp tâm trí tôi khỏi lan man về cuộc chia tay ấy. Sau khoảng một tuần trò chuyện, chúng tôi quyết định gặp gỡ và làm vài ly tại một quán bar địa phương… chúng tôi đã quyết định gắn kết cuộc đời với nhau trong một buổi lễ với 18 khách mời tại New Jersey vào ngày 27 tháng 6, 2020.<br><br></p>
            </div>
            <div class="col-md-4 d-block item fcard" id="fcard1" style="margin-top: 10px;margin-bottom: 10px;">
                <h5 style="color: rgb(0,0,0);">Shannon Escobar<br></h5>
                <p class="text-left" style="color: rgb(0,0,0);">Sau vài tháng hẹn nhau mối quan hệ của chúng tôi tới một ngả rẽ và chúng tôi quyết định ngưng cái trò mèo vờn chuột. Tôi đã yêu người ấy nhưng cứ sợ chuyện tình này sẽ chẳng đi tới đâu. Vậy mà 9 tháng sau chúng tôi đã trở nên dính nhau như sam.<br><br></p>
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-3 text-left d-flex flex-column">
                <h1 style="color: rgb(0,0,0);font-size: 18px;">an toàn</h1><a href="#">Quy tắc cộng đồng</a>
                <hr style="color: rgb(255,255,255);background: #ff0000;"><a href="#">Một vài lời khuyên về an toàn</a>
                <hr><a href="#">An toàn và chính sách</a>
                <hr><a href="#">Bảo mật</a>
            </div>
            <div class="col-3 col-lg-3 offset-lg-0 text-left">
                <h1 style="color: rgb(0,0,0);font-size: 18px;">Pháp lý</h1><a href="#">Quyền riêng tư</a>
                <hr style="background: #ffffff;"><a href="#">Điều khoản</a>
                <hr><a href="#">Chính sách cookie</a>
                <hr><a href="#">Sở hữu trí tuệ</a>
            </div>
            <div class="col-3 text-left">
                <h1 style="color: rgb(0,0,0);font-size: 18px;">Nghề nghiệp</h1><a href="#">Cổng thông tin nghề nghiệp</a>
                <hr><a href="#">Blog công nghệ</a>
            </div>
            <div class="col-3 text-left"><a href="#"></a><a href="#">Phòng báo chí</a>
                <hr><a href="#">Liên hệ</a>
                <hr><a href="#">Gói thuê bao đăng ký</a>
                <hr><a href="#">Hỗ trợ</a>
                <hr><a href="#">Mã khuyến mãi</a>
            </div>
        </div>
    </section>
    <footer>
        <h4 class="text-left" style="color: rgb(0,0,0);">Tải ngay ứng dụng!<img src="assets/img/xfhgfd.png" width="100" height="100"><img src="assets/img/Playstore-logo.jpg" width="80"></h4>
        <div class="footer-row-divs" style="display: grid;grid-template-columns: 50% auto auto;width: 80%;height: 100%;margin: auto;"></div><small class="form-text text-left text-muted"><br>Các bằng hữu độc thân vui vẻ, xin có mấy lời gửi tới các bạn: Nếu bạn đang tìm kiếm người yêu, muốn bắt đầu hẹn hò, hay chỉ đơn giản là muốn có thêm bạn bè, bạn cần có mặt trên Tinder. Với hơn 55 tỉ lượt tương hợp được kết nối, Tinder chính là nơi để gặp gỡ bạn tương hợp tốt nhất tiếp theo của bạn. Chân thành mà nói, môi trường hẹn hò ngày nay không còn giống như thời các cụ ngày xưa, giờ đây hầu hết mọi người đang gặp gỡ qua mạng xã hội. Với Tinder, ứng dụng hẹn hò miễn phí phổ biến nhất trên thế giới, hàng triệu người độc thân tuyệt vời khác luôn nằm trong tầm tay bạn. Không những thế họ luôn sẵn sàng gặp gỡ những người mới như bạn. Dù bạn "thẳng" hay thuộc cộng đồng LGBTQIA, Tinder luôn sát cánh nhen nhóm những cơ hội gặp gỡ cho bạn.<br>Sẽ luôn có thứ gì đó phù hợp cho mọi người trên Tinder. Bạn muốn thử tay nghề tán gái? Sẽ là như vậy. Bạn đang cố tìm thêm bạn bè? Khỏi cần nói gì thêm. Bạn mới tới ký túc xá và muốn tận dụng tối đa quãng thời gian học đại học của mình? Tinder U sẽ giúp bạn. Tinder không phải là trang hẹn hò thường thường bậc trung cho bạn — đó là ứng dụng hẹn hò đa dạng nhất, nơi những con người trưởng thành thuộc mọi tầng lớp xã hội với những trải nghiệm phong phú khác nhau được khuyến khích tạo dựng các kết nối, những kỷ niệm hay cái gì đó tương tự.<br><br></small>
        <hr>
    </footer>
    <div class="text-left footer-legal" style="text-align: left;">
        <div class="float-md-right region"><a href="#"></a></div><a href="#" style="font-size: 12px;text-align: left;color: rgb(0,0,0);">Một vài lời khuyên/</a><a href="#" style="font-size: 12px;color: rgb(0,0,0);">Điều khoản/</a><a href="#" style="font-size: 12px;color: rgb(0,0,0);">Chính sách cookie/</a><a href="#" style="font-size: 12px;color: rgb(0,0,0);">Cài đặt quyền riêng tư</a>
        <div class="d-inline-block copyright"></div>
    </div>
</section>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="assets/js/grayscale.js"></script>
</body>

</html>