<header class="masthead" style="background-image: url(assets/img/image_bg.jpg);opacity: 1;filter: brightness(85%);">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading" style="filter: blur(0px) brightness(191%) contrast(54%) grayscale(0%) saturate(106%) sepia(100%);color: rgb(255,255,255);">SWIP RIGHT</h1><button class="btn btn-primary" type="button">LẬP TÀI KHOẢN</button>
                </div>
            </div>
        </div>
    </div>
</header>