.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  background-size: cover;
}

.brand-heading {
  color: white;
  opacity: 1;
}

#btn_login :hover {
  color: white;
  background-color: red;
}

#fcard1 {
  border-radius: 20px;
}

